h1{
    margin: 0;
    font-size: 1.0em;

    color: honeydew;
}

h2{
    display: inline-block;
    font-size: 42px;
    margin: 0;

    color: honeydew;

    margin-bottom: 40px;
}

h3{
    display: inline-block;
    font-size: 1em;
    margin: 0;

    color: honeydew;
}

ul{
    padding-left: 0;
}

@media (min-width: 992px){
    h2{
        font-size: 30;
    }
}

@media (max-width: 992px){
    h3{
        font-size: 0.7em;
    }
}

@media (max-width: 650px){
    h3{
        font-size: 0.5em;
    }
}




.header-line{
    display: inline-block;
    text-align: center;
    background-color: silver;
    border: black 1px solid;
    border-radius: 10px;
    font-size: 30px;

    height: 80%;
    padding: 0 40px;

    align-self: flex-start;
    margin-right: 8%;
}




.button{
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: silver;
    border: black 1px solid;
    border-radius: 50%;
}

.button:hover{
    cursor: pointer;
}




.close-button{
    margin-left: 50px;
    margin-right: 2px;
}




.change-loc__desktop{
    display: none;
    font-size: 17px;
    padding-bottom: 10px;
}

.change-loc__desktop:hover{
    cursor: pointer;
}

@media (min-width: 1000px){
    .change-loc__mobile{
        display: none;
    }

    .change-loc__desktop{
        display: inline-block;
    }
}


.weather-icon{
    height: 100%;
    width: 64px;
    margin: auto;
}

.weather-icon img{
    height: 100%;
    width: 100%;
}

.cur-loc__image{
    width: 40%;
}